n8n-flows/ecommerce-checker.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "retailer_policies"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "50199152-9dbd-4851-8262-056ee1a993a8",
      "name": "Get Retailer Policies1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        952
      ],
      "credentials": {
        "postgres": {
          "id": "cl2PwpfSNw5e6dDN",
          "name": "RTR - IC - Postgress"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3eecaa00-439c-4ec2-b112-ab40d4146b41",
      "name": "Process Each Retailer1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        952
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Enhanced Parse AI Response with validation and error handling\nconst retailerName = $('Loop Over Items1').item.json.name || 'Unknown';\nconst retailerId = $('Loop Over Items1').item.json.id;\n\n// Get AI response from Perplexity\nconst aiResponse = $input.item.json.message || $input.item.json.output || $input.item.json.text || '';\n\nconsole.log(`[${retailerName}] Processing AI response...`);\n\nlet policyData = {\n  website_url: null,\n  return_portal_url: null,\n  return_window_days: null,\n  policy_description: null\n};\n\ntry {\n  let parsedData;\n  \n  // Parse JSON response\n  if (typeof aiResponse === 'object') {\n    parsedData = aiResponse;\n  } else {\n    // Extract JSON from markdown code blocks or plain text\n    const codeBlockMatch = aiResponse.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n    const jsonMatch = codeBlockMatch ? codeBlockMatch[1] : aiResponse.match(/\\{[\\s\\S]*\\}/);\n    \n    if (jsonMatch) {\n      const jsonString = typeof jsonMatch === 'string' ? jsonMatch : jsonMatch[0];\n      parsedData = JSON.parse(jsonString.trim());\n    } else {\n      throw new Error('No JSON structure found in response');\n    }\n  }\n  \n  // Validate and sanitize URLs\n  const validateURL = (url) => {\n    if (!url || url === 'null' || url === 'undefined') return null;\n    try {\n      const urlObj = new URL(url);\n      return (urlObj.protocol === 'http:' || urlObj.protocol === 'https:') ? url : null;\n    } catch {\n      return null;\n    }\n  };\n  \n  // Validate return window days\n  const validateReturnDays = (days) => {\n    if (days === null || days === undefined) return null;\n    const num = parseInt(days);\n    return (!isNaN(num) && num > 0 && num <= 365) ? num : null;\n  };\n  \n  // Extract and validate data\n  policyData.website_url = validateURL(parsedData.website_url);\n  policyData.return_portal_url = validateURL(parsedData.return_portal_url);\n  policyData.return_window_days = validateReturnDays(parsedData.return_window_days) || 30;\n  const rawDesc = parsedData.policy_description?.trim() || null;\n  policyData.policy_description = rawDesc && rawDesc.length > 80 ? rawDesc.substring(0, 77) + '...' : rawDesc;\n  \n  console.log(`[${retailerName}] ✓ Successfully parsed policy data`);\n  \n} catch (error) {\n  console.error(`[${retailerName}] ✗ Failed to parse AI response:`, error.message);\n  console.error(`[${retailerName}] Raw response:`, JSON.stringify(aiResponse).substring(0, 200));\n  \n  // Set defaults when parsing fails\n  policyData.return_window_days = 30;\n  policyData.policy_description = `Parse Error: ${error.message}`;\n}\n\n// Log validation results\nconst validFields = Object.entries(policyData).filter(([k, v]) => v !== null).map(([k]) => k);\nconsole.log(`[${retailerName}] Valid fields: ${validFields.join(', ') || 'none'}`);\n\nreturn {\n  json: {\n    id: retailerId,\n    name: retailerName,\n    website_url: policyData.website_url,\n    return_portal_url: policyData.return_portal_url,\n    return_window_days: policyData.return_window_days,\n    policy_description: policyData.policy_description,\n    updated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "e09e65a4-c969-4058-9279-71c9f0c2c9c9",
      "name": "Parse AI Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        880
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "retailer_policies"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "has_free_returns": false,
            "name": "={{ $json.name }}",
            "id": "={{ $json.id }}",
            "return_window_days": "={{ $json.return_window_days }}",
            "policy_description": "={{ $json.policy_description }}",
            "website_url": "={{ $json.website_url }}",
            "return_portal_url": "={{ $json.return_portal_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "return_window_days",
              "displayName": "return_window_days",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "policy_description",
              "displayName": "policy_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "website_url",
              "displayName": "website_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "has_free_returns",
              "displayName": "has_free_returns",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "return_portal_url",
              "displayName": "return_portal_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "abae87aa-090a-408c-890a-6b242ee7626b",
      "name": "Update Policy Data1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2224,
        952
      ],
      "credentials": {
        "postgres": {
          "id": "cl2PwpfSNw5e6dDN",
          "name": "RTR - IC - Postgress"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1568,
        832
      ],
      "id": "ee3b9f5b-38cc-4922-93f2-d261ca3dae56",
      "name": "Loop Over Items1",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=You are a research assistant specialized in finding e-commerce return policies.\n\nRETAILER INFORMATION:\n- Name: {{ $json.name }}\n- Current Website: {{ $json.website_url || 'Unknown' }}\n- Database ID: {{ $json.id }}\n\nYOUR TASK:\n1. Search for the retailer's official website\n2. Find the return policy page URL\n3. IMPORTANT: Find the return portal URL (where customers START a return - look for \"Start Return\", \"Return Portal\", \"My Returns\", etc.)\n4. Extract the return window period (in days)\n5. Create an ULTRA-BRIEF policy summary (MAX 80 characters)\n\nOUTPUT REQUIREMENTS:\n- Return ONLY valid JSON, no additional text\n- Use null for fields you cannot find\n- Ensure URLs are complete and valid (start with http:// or https://)\n- Return window should be a number (days) or null\n- policy_description MUST be MAX 80 characters! Examples:\n  ✓ \"30-day returns, free shipping\"\n  ✓ \"7-day money-back guarantee\"\n  ✓ \"14 days, original packaging required\"\n  ✗ DO NOT write paragraphs or long explanations!\n\nJSON SCHEMA:\n```json\n{\n  \"website_url\": \"string or null - Official website URL\",\n  \"return_portal_url\": \"string or null - URL where customers can START/INITIATE returns\",\n  \"return_window_days\": \"number or null - Number of days for returns\",\n  \"policy_description\": \"string or null - MAX 80 characters!\"\n}\n```\n\nEXAMPLE OUTPUT:\n```json\n{\n  \"website_url\": \"https://example.com\",\n  \"return_portal_url\": \"https://example.com/account/returns/start\",\n  \"return_window_days\": 30,\n  \"policy_description\": \"30-day free returns, original packaging required\"\n}\n```\n\nNow research the retailer: {{ $json.name }}"
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        1776,
        880
      ],
      "id": "36c23add-de4a-4a89-ac85-45d7c1fca5ed",
      "name": "Message a model1",
      "credentials": {
        "perplexityApi": {
          "id": "hG7degYGm73MEg7V",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        880,
        944
      ],
      "id": "f9b5bc55-7b21-4700-9c34-552ce0f09890",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Get Retailer Policies1": {
      "main": [
        [
          {
            "node": "Process Each Retailer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Retailer1": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response1": {
      "main": [
        [
          {
            "node": "Update Policy Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Policy Data1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Parse AI Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Retailer Policies1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0320382499acc1816c05e1130ede806d6731eecdef3b30ac30aabf4236c8764"
  }
}