n8n-flows/invoice-scraper.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Process all items in runOnceForAllItems mode\nconst results = [];\n\nfor (const input of $input.all()) {\n  let invoiceData;\n  \n  try {\n    let content;\n    \n    // Handle the specific Mistral/Claude response format\n    if (input.json.output && Array.isArray(input.json.output) && input.json.output[0]) {\n      // Your specific format: output[0].content[0].text\n      const message = input.json.output[0];\n      if (message.content && Array.isArray(message.content) && message.content[0]) {\n        content = message.content[0].text;\n      }\n    }\n    // Fallback for other AI response formats\n    else if (input.json.choices && input.json.choices[0]?.message?.content) {\n      content = input.json.choices[0].message.content;\n    } \n    else if (input.json.content) {\n      content = input.json.content;\n    } \n    else if (typeof input.json === 'string') {\n      content = input.json;\n    } \n    else {\n      content = JSON.stringify(input.json);\n    }\n    \n    // If content is already an object, use it directly\n    if (typeof content === 'object') {\n      invoiceData = content;\n    } else {\n      // Extract JSON from string content (handle markdown code blocks)\n      const jsonMatch = content.match(/```(?:json)?\\s*([\\s\\S]*?)```/) || content.match(/\\{[\\s\\S]*\\}/);\n      \n      if (jsonMatch) {\n        const jsonString = jsonMatch[1] || jsonMatch[0];\n        invoiceData = JSON.parse(jsonString.trim());\n      } else {\n        invoiceData = JSON.parse(content);\n      }\n    }\n    \n  } catch (e) {\n    throw new Error(`Failed to parse invoice data: ${e.message}. Response: ${JSON.stringify(input.json)}`);\n  }\n  \n  // Validate required fields (matching your schema)\n  if (!invoiceData.seller_name) {\n    throw new Error('Seller name not found in invoice');\n  }\n  \n  if (!invoiceData.items || !Array.isArray(invoiceData.items) || invoiceData.items.length === 0) {\n    throw new Error('No items found in invoice');\n  }\n  \n  // Map items to ensure all required fields exist\n  const mappedItems = invoiceData.items.map(item => ({\n    item_name: item.item_name || 'Unnamed Item',\n    item_cost: item.item_cost || 0,\n    item_quantity: item.item_quantity || 1,\n    item_currency: item.item_currency || 'USD'\n  }));\n  \n  // Calculate total if not provided\n  const totalAmount = mappedItems.reduce((sum, item) => \n    sum + (item.item_cost * item.item_quantity), 0\n  );\n  \n  results.push({\n    json: {\n      seller_name: invoiceData.seller_name,\n      total_amount: totalAmount,\n      items: mappedItems,\n      raw_response: input.json // Keep original for debugging\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "dc4d7699-e13d-4eca-b953-b1ba57db1eae",
      "name": "Parse Invoice Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        256
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.RETORO_API_URL }}/retailers?search={{ encodeURIComponent($json.seller_name) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json",
              "alwaysOutputData": true
            }
          }
        }
      },
      "id": "8c5f0752-e0a0-4c12-bffe-257f9402ab67",
      "name": "Search Retailer1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1808,
        256
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6uoywV79GxAzcFU4",
          "name": "RTR - IC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Match retailer from search results\n// Handle empty response case - n8n might not output empty arrays\nlet searchResults = $input.item.json;\n\n// If no input data, check if it's because of empty array\nif (!searchResults || (typeof searchResults === 'object' && Object.keys(searchResults).length === 0)) {\n  // Try to get data from previous node's output\n  const previousNode = $('Search Retailer1');\n  if (previousNode && previousNode.item && previousNode.item.json) {\n    searchResults = previousNode.item.json;\n  }\n}\n\n// Fix: Use seller_name instead of retailer_name\nconst invoiceRetailerName = $('Parse Invoice Data').item.json.seller_name.toLowerCase();\n\n// Debug: Log the search results\nconsole.log('Search results type:', typeof searchResults);\nconsole.log('Search results:', JSON.stringify(searchResults));\nconsole.log('Looking for retailer:', invoiceRetailerName);\n\nlet matchedRetailer = null;\n\n// Handle case where API returns an array directly or wrapped\nlet results = null;\nif (Array.isArray(searchResults)) {\n  results = searchResults;\n} else if (searchResults && Array.isArray(searchResults.data)) {\n  results = searchResults.data;\n} else if (searchResults && searchResults.json && Array.isArray(searchResults.json)) {\n  results = searchResults.json;\n} else if (searchResults && typeof searchResults === 'object') {\n  // Try to find array in the object\n  const keys = Object.keys(searchResults);\n  for (const key of keys) {\n    if (Array.isArray(searchResults[key])) {\n      results = searchResults[key];\n      break;\n    }\n  }\n}\n\nif (!results || results.length === 0) {\n  throw new Error(`Retailer '${invoiceRetailerName}' not found in database. Search returned 0 results. Please add this retailer to the database first.`);\n}\n\nif (results && results.length > 0) {\n  // Try exact match first\n  matchedRetailer = results.find(r => r.name && r.name.toLowerCase() === invoiceRetailerName);\n  \n  // Try fuzzy match\n  if (!matchedRetailer) {\n    matchedRetailer = results.find(r => r.name && (r.name.toLowerCase().includes(invoiceRetailerName) || invoiceRetailerName.includes(r.name.toLowerCase())));\n  }\n  \n  // Take first result if no match\n  if (!matchedRetailer && results.length > 0) {\n    matchedRetailer = results[0];\n  }\n}\n\nif (!matchedRetailer) {\n  throw new Error(`Retailer '${invoiceRetailerName}' not found in database. Search returned ${results ? results.length : 0} results.`);\n}\n\nreturn {\n  json: {\n    retailer_id: matchedRetailer.id,\n    retailer_name: matchedRetailer.name,\n    ...$('Parse Invoice Data').item.json\n  }\n};"
      },
      "id": "1589b6c9-5202-44c8-8f6b-425d3377964d",
      "name": "Match Retailer1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RETORO_API_URL }}/return-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.RETORO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "retailer_id",
              "value": "={{ $('Match Retailer1').item.json.retailer_id }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "price",
              "value": "={{ $json.price }}"
            },
            {
              "name": "purchase_date",
              "value": "={{ $('Match Retailer1').item.json.purchase_date }}"
            }
          ]
        },
        "options": {}
      },
      "id": "53381202-c907-4b78-b001-fabf005e6966",
      "name": "Create Return Item1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2480,
        256
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LXSAXhTphCOsD48C",
          "name": "Remove BG - IC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results\nconst items = $input.all();\nconst itemsCreated = items.map(item => item.json.id || item.json.item_id);\n\n// Get retailer name from Match Retailer node\nconst retailerName = $('Match Retailer1').item.json.retailer_name;\n\nreturn {\n  json: {\n    items_created: itemsCreated,\n    retailer_matched: retailerName,\n    items_count: itemsCreated.length,\n    errors: []\n  }\n};"
      },
      "id": "91da70e9-426f-429c-9553-da5176ab2ee2",
      "name": "Aggregate Results1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        256
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an invoice data extraction assistant. Extract the following information from invoices, receipts, or payment confirmations from below text:\n\n{{ $json.pages[0].markdown }}\n\nREQUIRED FIELDS:\n- seller_name: The company/merchant name (seller)\n- items: Array of purchased items/services with:\n  - item_name: Product or service name\n  - item_cost: Price per unit (numeric value only, no currency symbol)\n  - item_quantity: Number of units (default to 1 if not specified)\n  - item_currency: Currency code (e.g., GEL, USD, EUR)\n\nEXTRACTION RULES:\n1. If multiple items exist, create separate entries in the items array\n2. Extract only numeric values for costs (remove currency symbols)\n3. Use standard 3-letter currency codes (ISO 4217)\n4. If quantity is not mentioned, assume quantity = 1\n5. If any field cannot be found, use null\n\nOUTPUT FORMAT:\nReturn valid JSON matching the provided schema. Do not include any explanatory text outside the JSON.\n```\n\n---\n\n## **JSON Schema:**\n\n```json\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"seller_name\": {\n      \"type\": \"string\",\n      \"description\": \"Company or merchant name\"\n    },\n    \"items\": {\n      \"type\": \"array\",\n      \"description\": \"List of purchased items\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"item_name\": {\n            \"type\": \"string\",\n            \"description\": \"Product or service name\"\n          },\n          \"item_cost\": {\n            \"type\": \"number\",\n            \"description\": \"Price per unit (numeric only)\"\n          },\n          \"item_quantity\": {\n            \"type\": \"integer\",\n            \"description\": \"Number of units purchased\",\n            \"default\": 1\n          },\n          \"item_currency\": {\n            \"type\": \"string\",\n            \"description\": \"Currency code (ISO 4217)\",\n            \"pattern\": \"^[A-Z]{3}$\"\n          }\n        },\n        \"required\": [\"item_name\", \"item_cost\", \"item_quantity\", \"item_currency\"],\n        \"additionalProperties\": false\n      },\n      \"minItems\": 1\n    }\n  },\n  \"required\": [\"seller_name\", \"items\"],\n  \"additionalProperties\": false\n}\n```\n\n---\n\n## **Expected Output for our Example:**\n\n```json\n{\n  \"seller_name\": \"mypen.ge\",\n  \"items\": [\n    {\n      \"item_name\": \"Mypen PRO Subscription\",\n      \"item_cost\": 29.0,\n      \"item_quantity\": 1,\n      \"item_currency\": \"GEL\"\n    }\n  ]\n}\n```\n\n---\n\n## **For Multiple Items Example:**\n\nIf the invoice had multiple items, it would look like:\n\n```json\n{\n  \"seller_name\": \"mypen.ge\",\n  \"items\": [\n    {\n      \"item_name\": \"Mypen PRO Subscription\",\n      \"item_cost\": 29.0,\n      \"item_quantity\": 1,\n      \"item_currency\": \"GEL\"\n    },\n    {\n      \"item_name\": \"Premium Support\",\n      \"item_cost\": 15.0,\n      \"item_quantity\": 2,\n      \"item_currency\": \"GEL\"\n    }\n  ]\n}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"seller_name\": {\n      \"type\": \"string\",\n      \"description\": \"Company or merchant name\"\n    },\n    \"items\": {\n      \"type\": \"array\",\n      \"description\": \"List of purchased items\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"item_name\": {\n            \"type\": \"string\",\n            \"description\": \"Product or service name\"\n          },\n          \"item_cost\": {\n            \"type\": \"number\",\n            \"description\": \"Price per unit (numeric only)\"\n          },\n          \"item_quantity\": {\n            \"type\": \"integer\",\n            \"description\": \"Number of units purchased\",\n            \"default\": 1\n          },\n          \"item_currency\": {\n            \"type\": \"string\",\n            \"description\": \"Currency code (ISO 4217)\",\n            \"pattern\": \"^[A-Z]{3}$\"\n          }\n        },\n        \"required\": [\"item_name\", \"item_cost\", \"item_quantity\", \"item_currency\"],\n        \"additionalProperties\": false\n      },\n      \"minItems\": 1\n    }\n  },\n  \"required\": [\"seller_name\", \"items\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "id": "70e6fdd5-d094-4185-a835-d95d7141d346",
      "name": "Extract Invoice Data with AI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1008,
        256
      ],
      "credentials": {
        "openAiApi": {
          "id": "eJNHP6n8O3Y9Iv2F",
          "name": "Open Ai - IC"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "404a87e7-b5aa-4f0b-8ef8-92f20236448e",
      "name": "Split Items1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2256,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0fd4581-9d46-46c0-8b2f-6dcefab9c854",
              "name": "RETORO_API_KEY",
              "value": "299f5ca754fa16718420949736b75abb139ff5018f792a00c961b99a97716fa7",
              "type": "string"
            },
            {
              "id": "05cf9493-ddc9-47dd-8de8-520eeab97809",
              "name": "RETORO_API_URL",
              "value": "https://your.retoro.app/api",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        256
      ],
      "id": "102e4c14-42ff-4d85-97f6-01cca930d9e1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice-process",
        "responseMode": "lastNode",
        "options": {
          "binaryData": true
        }
      },
      "id": "b661d246-5adc-4e25-a4ff-269c43388dcf",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        336,
        256
      ],
      "webhookId": "invoice-process"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "3272bc14-32d9-466f-8849-5af7c5a065c6",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2928,
        256
      ]
    },
    {
      "parameters": {
        "documentType": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        784,
        256
      ],
      "id": "d6472f3f-2c5b-4d00-84c0-8fd8d8ee105a",
      "name": "Extract text1",
      "credentials": {
        "mistralCloudApi": {
          "id": "WZEuqlC6d4b4G4dV",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d065148f-7138-4761-b4d2-27f92dd1d502",
              "leftValue": "={{ $('Webhook Trigger').item.binary.data.mimeType }}",
              "rightValue": "image/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        256
      ],
      "id": "b67b352a-ac96-4216-a69c-1d73dd2d898a",
      "name": "If1"
    }
  ],
  "connections": {
    "Parse Invoice Data": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Retailer1": {
      "main": [
        [
          {
            "node": "Match Retailer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Retailer1": {
      "main": [
        [
          {
            "node": "Split Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Return Item1": {
      "main": [
        [
          {
            "node": "Aggregate Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Invoice Data with AI1": {
      "main": [
        [
          {
            "node": "Parse Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items1": {
      "main": [
        [
          {
            "node": "Create Return Item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Search Retailer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text1": {
      "main": [
        [
          {
            "node": "Extract Invoice Data with AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Extract text1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0320382499acc1816c05e1130ede806d6731eecdef3b30ac30aabf4236c8764"
  }
}