n8n-flows/invoice-scraper.json
{
  "nodes": [
    {
      "parameters": {
        "path": "invoice-process",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "6168d009-5607-4985-bb05-5b6326eba476",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        80,
        240
      ],
      "webhookId": "invoice-process"
    },
    {
      "parameters": {
        "url": "={{ $json.body.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "209fad32-2cc1-4667-b6a5-c8323625053a",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        304,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response and extract JSON\nconst response = $input.item.json;\nlet invoiceData;\n\ntry {\n  // Extract content from OpenAI response structure\n  let content;\n  \n  // Handle different OpenAI response formats\n  if (response.choices && response.choices[0] && response.choices[0].message) {\n    content = response.choices[0].message.content;\n  } else if (response.message && response.message.content) {\n    content = response.message.content;\n  } else if (response.content) {\n    content = response.content;\n  } else if (typeof response === 'string') {\n    content = response;\n  } else {\n    content = JSON.stringify(response);\n  }\n  \n  // Extract JSON from content (handle markdown code blocks)\n  const jsonMatch = content.match(/```(?:json)?\\s*([\\s\\S]*?)```/) || content.match(/\\{[\\s\\S]*\\}/);\n  \n  if (jsonMatch) {\n    const jsonString = jsonMatch[1] || jsonMatch[0];\n    invoiceData = JSON.parse(jsonString.trim());\n  } else {\n    invoiceData = JSON.parse(content);\n  }\n} catch (e) {\n  throw new Error(`Failed to parse invoice data: ${e.message}. Response: ${JSON.stringify(response)}`);\n}\n\n// Validate required fields\nif (!invoiceData.retailer_name) {\n  throw new Error('Retailer name not found in invoice');\n}\n\nif (!invoiceData.purchase_date) {\n  throw new Error('Purchase date not found in invoice');\n}\n\nif (!invoiceData.items || !Array.isArray(invoiceData.items) || invoiceData.items.length === 0) {\n  throw new Error('No items found in invoice');\n}\n\n// Ensure items have required fields\ninvoiceData.items = invoiceData.items.map(item => ({\n  name: item.name || 'Unnamed Item',\n  price: item.price || 0,\n  quantity: item.quantity || 1\n}));\n\nreturn {\n  json: {\n    retailer_name: invoiceData.retailer_name,\n    purchase_date: invoiceData.purchase_date,\n    order_number: invoiceData.order_number || null,\n    total_amount: invoiceData.total_amount || null,\n    items: invoiceData.items,\n    user_id: $input.item.json.body?.user_id || $('Webhook Trigger').item.json.body.user_id\n  }\n};"
      },
      "id": "04bb1595-1b1a-4263-a852-74aa2d266804",
      "name": "Parse Invoice Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.RETORO_API_URL }}/retailers?search={{ encodeURIComponent($json.retailer_name) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.RETORO_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "78b7bca4-9aca-454e-b160-39dd5abd3ed3",
      "name": "Search Retailer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        976,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LXSAXhTphCOsD48C",
          "name": "Remove BG - IC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Match retailer from search results\nconst searchResults = $input.item.json;\nconst invoiceRetailerName = $('Parse Invoice Data').item.json.retailer_name.toLowerCase();\n\nlet matchedRetailer = null;\n\nif (searchResults && searchResults.length > 0) {\n  // Try exact match first\n  matchedRetailer = searchResults.find(r => r.name.toLowerCase() === invoiceRetailerName);\n  \n  // Try fuzzy match\n  if (!matchedRetailer) {\n    matchedRetailer = searchResults.find(r => \n      r.name.toLowerCase().includes(invoiceRetailerName) || \n      invoiceRetailerName.includes(r.name.toLowerCase())\n    );\n  }\n  \n  // Take first result if no match\n  if (!matchedRetailer && searchResults.length > 0) {\n    matchedRetailer = searchResults[0];\n  }\n}\n\nif (!matchedRetailer) {\n  throw new Error(`Retailer '${invoiceRetailerName}' not found in database`);\n}\n\nreturn {\n  json: {\n    retailer_id: matchedRetailer.id,\n    retailer_name: matchedRetailer.name,\n    ...$('Parse Invoice Data').item.json\n  }\n};"
      },
      "id": "01a34b2b-ae23-4ce4-bd4a-63f015b5649b",
      "name": "Match Retailer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RETORO_API_URL }}/return-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.RETORO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "retailer_id",
              "value": "={{ $('Match Retailer').item.json.retailer_id }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "price",
              "value": "={{ $json.price }}"
            },
            {
              "name": "purchase_date",
              "value": "={{ $('Match Retailer').item.json.purchase_date }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8eda045d-88bf-4c9e-b988-547339a6049d",
      "name": "Create Return Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1648,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LXSAXhTphCOsD48C",
          "name": "Remove BG - IC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results\nconst items = $input.all();\nconst itemsCreated = items.map(item => item.json.id || item.json.item_id);\n\n// Get retailer name from Match Retailer node\nconst retailerName = $('Match Retailer').item.json.retailer_name;\n\nreturn {\n  json: {\n    items_created: itemsCreated,\n    retailer_matched: retailerName,\n    items_count: itemsCreated.length,\n    errors: []\n  }\n};"
      },
      "id": "bd814727-1e6a-4b43-86cd-76c2ab05de26",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "83d1457c-70d4-48b8-b7a9-71cbbec1140f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2096,
        240
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Extract all text and data from this invoice image. Return the following information in JSON format:\n{\n  \"retailer_name\": \"name of the store/retailer\",\n  \"purchase_date\": \"date of purchase in YYYY-MM-DD format\",\n  \"order_number\": \"order or invoice number if present\",\n  \"total_amount\": \"total amount as a number\",\n  \"items\": [\n    {\n      \"name\": \"item name\",\n      \"price\": \"item price as a number\",\n      \"quantity\": \"quantity as a number\"\n    }\n  ]\n}\n\nBe precise with the data extraction. If a field is not found, use null.",
        "inputType": "base64",
        "options": {}
      },
      "id": "4e71adf4-f3a9-4127-ba5f-288caf6c5e02",
      "name": "Extract Invoice Data with AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        528,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "eJNHP6n8O3Y9Iv2F",
          "name": "Open Ai - IC"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "d179ef40-5595-4bd9-acb2-8e65ba240bf9",
      "name": "Split Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1424,
        240
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Extract Invoice Data with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Invoice Data": {
      "main": [
        [
          {
            "node": "Search Retailer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Retailer": {
      "main": [
        [
          {
            "node": "Match Retailer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Retailer": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Return Item": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Invoice Data with AI": {
      "main": [
        [
          {
            "node": "Parse Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Create Return Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c0320382499acc1816c05e1130ede806d6731eecdef3b30ac30aabf4236c8764"
  }
}